<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Assistant&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/app.css" />
    <script src="https://kit.fontawesome.com/b155107641.js"></script>
  </head>
  <body>
    <div
      class="container-fluid d-flex justify-content-center align-items-center"
      id="head-section"
    >
      <h5 class="font-weight-bolder">
        <i class="fa fa-calendar" aria-hidden="true"></i> Google Calendar API
        Integration
      </h5>
    </div>
    <div class="jumbotron container mt-3">
      <h2><%= message.title %> &#128557;</h2>
      <a href="/add-events" class="btn btn-lg btn-success massege-btn mt-4"
        ><i class="fa fa-reply" aria-hidden="true"></i> Go back</a
      >
    </div>
  </body>
</html>
